body {
    font-family: Arial, sans-serif;
    background: #222;
    color: white;
    -webkit-app-region: drag; /* Позволяет перемещать окно */
    box-sizing: border-box;
}

.wrapper {
    padding: 15px;
}

.error {
    color: #cc1b1b;
    margin: 10px 0;
}

.btn {
    border: none;
    background: gold;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    -webkit-app-region: no-drag;
    width: 160px;
    height: 40px;
}

.btn:hover {
    background: #666;
}

.title-bar {
    width: 100%;
    height: 35px;
    background-color: #333;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
}

.title {
    margin-left: 5px;
}

#window-controls {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 90px;
    padding: 0 5px;
}

#window-controls button {
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    border: 1px solid #444;
    color: white;
    font-size: 14px;
    cursor: pointer;
    height: 28px;
    width: 28px;
    padding-bottom: 3px;
    border-radius: 5px;
    -webkit-app-region: no-drag; /* Исключает кнопки из области перетаскивания */
}

.loader {
    border: 8px solid #f3f3f3;
    border-top: 8px solid #FFD700;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 1s linear infinite;
    margin: 20px auto;
    display: none; /* скрыт по умолчанию */
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

#character-list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    -webkit-app-region: no-drag; /* Исключает кнопки из области перетаскивания */
}

.character {
    border-radius: 10px;
    background-color: #333333;
    border: 1px solid #444444;
    color: white;
    transition: .2s ease;
    cursor: pointer;
    padding: 16px;
}

.character:hover {
    background-color: #444444;
}

.inactive {
    filter: grayscale(1);
}

.save-button {
    margin-top: 20px;
    margin-left: auto;
}

#refresh-characters {
    margin-right: 5px;
}

.controls {
    display: flex;
    justify-content: space-between;
}

#refresh-characters,
#edit-characters {
    -webkit-app-region: no-drag; /* Исключает кнопки из области перетаскивания */
    transition: .3s ease-in-out;
    cursor: pointer;
    background-color: transparent;
    border: none;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 28px;
    width: 28px;
}

#refresh-characters:hover,
#edit-characters:hover {
    transform: scale(120%);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    padding-top: 20px;
}