/* variables */
:root {
    --dark-grey: #333333;
    --middle-grey: #2d2d2d;
    --grey: #444444;
    --light-grey: #666666;
    --black: #222222;
    --white: #ffffff;
    --error: #cc1b1b;
    --gold: #FFD700FF;
    --loader-border: #f3f3f3;
    --loader-top: #FFD700;
    --support: #5cffff;
    --dd: #ea91ff;
    --gs: #eab00f;
}

@font-face {
    font-family: 'Caveat';
    src: url('./fonts/Caveat-VariableFont_wght.ttf') format('truetype');
}

body {
    font-family: Arial, sans-serif;
    background: var(--black);
    color: var(--white);
    -webkit-app-region: drag; /* Позволяет перемещать окно */
    box-sizing: border-box;
}

.wrapper {
    padding: 15px;
    position: relative;
}

.error {
    color: var(--error);
    margin: 10px 0;
}

input, button, select, textarea, a {
    -webkit-app-region: no-drag; /* Исключает кнопки из области перетаскивания */
}

select {
    background-color: transparent;
    border-radius: 5px;
    border: 1px solid var(--grey);
    color: var(--white);
    padding: 10px;
    width: 100%;
    height: 120px;
    margin-right: 10px;
    margin-bottom: 10px;
}

option {
    padding: 5px;
}

input {
    background-color: transparent;
    border-radius: 5px;
    border: 1px solid var(--grey);
    color: var(--white);
    padding: 5px;
}

input[type=number] {
    cursor: pointer;
}

.button {
    border: none;
    background: var(--gold);
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    width: 160px;
    height: 40px;
}

.button:hover {
    background: var(--light-grey);
}

.button_icon {
    background-color: transparent;
    transition: .3s ease-in-out;
    cursor: pointer;
    border: none;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 28px;
    width: 28px;
}

.button_icon:hover {
    background-color: transparent;
    transform: scale(120%);
}

.button_control {
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    border: 1px solid var(--grey);
    color: var(--white);
    font-size: 14px;
    cursor: pointer;
    height: 28px;
    width: 28px;
    padding-bottom: 12px;
    border-radius: 5px;
}

.title-bar {
    width: 100%;
    height: 35px;
    color: var(--gold);
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
    position: sticky;
    top: 0;
    background: var(--black);
    z-index: 1;
}

.title-bar__title {
    margin-left: 5px;
    font-family: Caveat, serif;
    font-size: 18px;
}

.nickname-block {
    display: flex;
    min-width: 300px;
    max-width: 80%;
    align-items: center;
}

.nickname-block__nickname {
    display: flex;
    gap: 5px;
    align-items: center;
}

#window-controls {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 90px;
    padding: 0 5px;
}

.loader {
    border: 8px solid var(--loader-border);
    border-top: 8px solid var(--loader-top);
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 1s linear infinite;
    margin: 20px auto;
    display: none;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.character-list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    flex-direction: column;
    width: 100%;
    -webkit-app-region: no-drag; /* Исключает кнопки из области перетаскивания */
}

.character {
    border-radius: 10px;
    background-color: var(--dark-grey);
    border: 1px solid var(--grey);
    color: var(--white);
    transition: .2s ease;
    cursor: pointer;
    padding: 16px;
    max-width: -webkit-fill-available;
}

.character.view-mode {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    margin-bottom: 10px;
    width: 100%;
    text-align: center;
    font-size: 13px;
}

.character_support.view-mode .character__info div:last-child {
    color: var(--support);
    font-family: Caveat, serif;
    font-size: 16px;
}

.character_dd.view-mode .character__info div:last-child {
    color: var(--dd);
    font-family: Caveat, serif;
    font-size: 16px;
}

.character:hover {
    background-color: var(--grey);
}

.character:hover .character__cell:not(:last-child) {
    border-right: 2px solid var(--dark-grey);
}

.character__cell {
    display: flex;
    min-width: 20px;
    padding: 0 10px;
}

.character__drag {
    width: 20px;
    padding-right: 0;
    height: 60px;
    align-items: center;
}

.drag-burger {
    height: 100%;
    display: flex;
    align-items: center;
    cursor: grab;
}

.character__cell:not(:last-child) {
    border-right: 2px solid var(--grey);
}

.character__cell:not(:last-child):hover .raid {
    border-right: 1px solid var(--dark-grey);
}

.character__icons,
.character__info {
    flex-direction: column;
}

.character__info {
    width: 140px;
    gap: 5px;
}

.character__raids {
    gap: 10px;
    width: -webkit-fill-available;
}

.raid {
    width: min-content;
    border-right: 1px solid var(--grey);
}

.raid__header {
    min-width: 80px;
    width: max-content;
    font-size: 13px;
    display: flex;
    align-items: center;
}

.raid-status {
    width: 100%;
    text-align: center;
}

.character__info div:nth-child(2) {
    color: var(--gs);
}

.inactive {
    filter: grayscale(1);
}

.save-button {
    margin-top: 20px;
    margin-left: auto;
}

#refresh-characters {
    margin-right: 5px;
}

.controls {
    display: flex;
    justify-content: space-between;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    padding-top: 20px;
}

.raid-selector {
    border-radius: 5px;
    width: 300px;
    height: 350px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: var(--black);
    color: var(--white);
    padding: 20px;
    margin: auto;
}

.raid-selector__label {
    font-size: 12px;
}

.raid-selector__label i {
    font-style: normal;
    font-family: Caveat, serif;
    color: var(--gold);
    font-size: 16px;
}

.raid-selector__select {
    height: 200px;
    margin-top: 10px;
}

.tabs {
    display: flex;
    margin-bottom: 10px;
}

.tab-button {
    padding: 10px;
    cursor: pointer;
    border: 1px solid var(--black);
    background: var(--grey);
    flex: 1;
    text-align: center;
    color: var(--white);
    border-radius: 5px;
    transition: .2s ease;
    font-size: 18px;
}

.tab-button.active {
    background: var(--gold);
}

.tab-button:hover {
    background: var(--light-grey);
}

.tab-content {
    display: none;
}

.tab-content.active {
    display: block;
}

.character-table {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    -webkit-app-region: no-drag;
}

.character-table__row {
    display: flex;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid var(--grey);
    border-left: 1px solid var(--grey);
    border-right: 1px solid var(--grey);
}

.character-table__row:first-child {
    border-top: 1px solid var(--grey);
    border-radius: 3px 3px 0 0;
}

.character-table__row:nth-child(even) .character-table__cell {
    background-color: var(--middle-grey);
}


.character-table__cell {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80px;
    padding: 8px;
    height: 60px;
}

.character-table__cell:last-child {
    border-right: 1px solid var(--grey);
}

.character-table__cell:not(:last-child) {
    border-right: 1px solid var(--grey);
}

.character-table__cell_name {
    width: 240px;
    flex: none;
}

.character-table__input {
    width: 50px;
    margin-bottom: 5px;
}

.character-table__input::-webkit-outer-spin-button,
.character-table__input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.character-table__controls {
    display: flex;
    gap: 5px;
}

.character-table_support {
    color: var(--support);
}

.character-table_dd {
    color: var(--dd);
}

.tooltip {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.tooltip::after {
    content: attr(data-tooltip); /* Берем текст из data-tooltip */
    position: absolute;
    bottom: 120%; /* Поднимаем выше элемента */
    left: 50%;
    transform: translateX(-50%);
    background: var(--black);
    color: var(--white);
    padding: 5px 8px;
    border-radius: 5px;
    font-size: 12px;
    white-space: wrap;
    opacity: 0;
    transition: opacity 0.5s;
    pointer-events: none; /* Чтоб не мешал клику */
    z-index: 1;
}

.tooltip:hover::after {
    opacity: 1;
}

::-webkit-scrollbar {
    width: 8px; /* Ширина вертикального скролла */
    height: 8px; /* Высота горизонтального скролла */
    cursor: move;
}

/* Полоса прокрутки (фон) */
::-webkit-scrollbar-track {
    background: var(--black); /* Тёмный фон */
    border-radius: 10px;
}

/* Ползунок скролла */
::-webkit-scrollbar-thumb {
    background: var(--grey);
    border-radius: 10px;
}

/* При наведении на ползунок */
::-webkit-scrollbar-thumb:hover {
    background: var(--light-grey);
}