/* variables */
:root {
    --dark-grey: #333333;
    --middle-grey: #2d2d2d;
    --grey: #444444;
    --light-grey: #666666;
    --black: #222222;
    --white: #ffffff;
    --error: #cc1b1b;
    --gold: #FFD700FF;
    --loader-border: #f3f3f3;
    --loader-top: #FFD700;
    --support: #5cffff;
    --dd: #ea91ff;
    --gs: #eab00f;
    --shadow: 0px 4px 10px rgba(129, 106, 0, 0.3);
    --inner-shadow: inset 0 0 10px rgba(103, 103, 103, 0.35);
}

[data-theme="light"] {
    --dark-grey: #e0e0e0;
    --middle-grey: #f0f0f0;
    --grey: #d6d6d6;
    --light-grey: #c0c0c0;
    --black: #ffffff;
    --white: #222222;
    --error: #d32f2f;
    --gold: #67a1ff;
    --loader-border: #777777;
    --loader-top: #FFD700;
    --support: #00a4a4;
    --dd: #ad00ad;
    --gs: #c69c6d;
    --shadow: 0px 4px 10px rgba(107, 107, 107, 0.3);
    --inner-shadow: inset 0 0 10px #a8a8a8;
}

[data-theme="red"] {
    --dark-grey: #4d0000;
    --middle-grey: #660000;
    --grey: #800000;
    --light-grey: #990000;
    --black: #210000;
    --white: #ffcccc;
    --error: #ff4444;
    --gold: #cb5400;
    --loader-border: #ff6666;
    --loader-top: #ffcc00;
    --support: #ffa9a9;
    --dd: #ff0037;
    --gs: #ff8c00;
    --shadow: 0px 4px 10px rgba(255, 89, 0, 0.3);
    --inner-shadow: inset 0 0 10px rgba(110, 11, 11, 0.59);
}

[data-theme="blue"] {
    --dark-grey: #001a33;
    --middle-grey: #00264d;
    --grey: #003366;
    --light-grey: #004080;
    --black: #001122;
    --white: #cceeff;
    --error: #ff3333;
    --gold: #00bbc9;
    --loader-border: #6699ff;
    --loader-top: #ffcc00;
    --support: #66ccff;
    --dd: #3399ff;
    --gs: #ffa500;
    --shadow: 0px 4px 10px rgba(77, 202, 255, 0.3);
    --inner-shadow: inset 0 0 10px rgba(67, 104, 194, 0.63);
}

[data-theme="green"] {
    --dark-grey: #003300;
    --middle-grey: #004d00;
    --grey: #006600;
    --light-grey: #008000;
    --black: #002200;
    --white: #ccffcc;
    --error: #ff4444;
    --gold: #21c900;
    --loader-border: #66ff66;
    --loader-top: #ffcc00;
    --support: #3fff80;
    --dd: #00ad3a;
    --gs: #eab00f;
    --shadow: 0px 4px 10px rgba(0, 255, 21, 0.3);
    --inner-shadow: inset 0 0 10px rgba(0, 161, 78, 0.63);
}

[data-theme="yellow"] {
    --dark-grey: #665500;
    --middle-grey: #806600;
    --grey: #997700;
    --light-grey: #b38900;
    --black: #332200;
    --white: #fff5cc;
    --error: #cc0000;
    --gold: #e0c100;
    --loader-border: #ffcc00;
    --loader-top: #ffdd00;
    --support: #ffea80;
    --dd: #ffbb33;
    --gs: #ffd700;
    --shadow: 0px 4px 10px rgba(255, 215, 0, 0.3);
    --inner-shadow: inset 0 0 10px rgba(182, 176, 121, 0.48);
}

[data-theme="gradient-dark"] {
    --dark-grey: #1a1a2e;
    --middle-grey: #16213e;
    --grey: #0f3460;
    --light-grey: #533483;
    --black: linear-gradient(135deg, #0f0c29, #302b63, #24243e);
    --white: #eaeaea;
    --error: #ff3860;
    --gold: #c0a304;
    --loader-border: #a29bfe;
    --loader-top: #f4d03f;
    --support: #8b78e6;
    --dd: #6a89cc;
    --gs: #f4c542;
    --shadow: 0px 4px 10px rgba(255, 215, 0, 0.3);
    --inner-shadow: inset 0 0 10px rgba(182, 176, 121, 0.48);
}

[data-theme="rose"] {
    --dark-grey: #f8e8e9;
    --middle-grey: #f3d9df;
    --grey: #eec1cb;
    --light-grey: #e8b4bc;
    --black: linear-gradient(135deg, #fff5f7, #ffe0e8);
    --white: #5c374c;
    --error: #ff6b81;
    --gold: #ffb6b9;
    --loader-border: #fddde6;
    --loader-top: #ffc2d1;
    --support: #b185a7;
    --dd: #f78fb3;
    --gs: #ffcad4;
    --shadow: 0px 4px 10px rgba(255, 182, 193, 0.3);
    --inner-shadow: inset 0 0 10px rgba(255, 192, 203, 0.4);
}

[data-theme="light-blue"] {
    --dark-grey: #e6f7ff;
    --middle-grey: #d0ecff;
    --grey: #b6e0fe;
    --light-grey: #a0d2f0;
    --black: #f5fcff;
    --white: #324a5f;
    --error: #ff6f6f;
    --gold: #9fd3f8;
    --loader-border: #e0f4ff;
    --loader-top: #bde0fe;
    --support: #6fa8dc;
    --dd: #92c9f9;
    --gs: #bee3f8;
    --shadow: 0px 4px 10px rgba(159, 211, 248, 0.3);
    --inner-shadow: inset 0 0 10px rgba(189, 224, 254, 0.4);
}

[data-theme="mint"] {
    --dark-grey: #e2fdf7;
    --middle-grey: #c7f6ec;
    --grey: #a6e9d9;
    --light-grey: #8cded1;
    --black: #f2fefb;
    --white: #325c52;
    --error: #ff7b7b;
    --gold: #8de0c5;
    --loader-border: #dafdf5;
    --loader-top: #a3f4d2;
    --support: #67bfa9;
    --dd: #7fe3c2;
    --gs: #78c9ad;
    --shadow: 0px 4px 10px rgba(141, 224, 197, 0.3);
    --inner-shadow: inset 0 0 10px rgba(141, 224, 197, 0.4);
}



@font-face {
    font-family: 'Caveat';
    src: url('./fonts/Caveat-VariableFont_wght.ttf') format('truetype');
}

body {
    font-family: Arial, sans-serif;
    background: var(--black);
    color: var(--white);
    -webkit-app-region: drag; /* Позволяет перемещать окно */
    box-sizing: border-box;
}

.wrapper {
    padding: 15px;
    position: relative;
}

.error {
    color: var(--error);
    margin: 10px 0;
}

.message {
    margin: 10px 0;
}

input, button, select, textarea, a {
    -webkit-app-region: no-drag; /* Исключает кнопки из области перетаскивания */
}

select {
    background-color: transparent;
    border-radius: 5px;
    border: 1px solid var(--grey);
    color: var(--white);
    padding: 10px;
    width: 100%;
    height: 120px;
    margin-right: 10px;
    margin-bottom: 10px;
    cursor: pointer;
}

option {
    padding: 5px;
    color: var(--white);
    background-color: var(--dark-grey);
}

input {
    background-color: transparent;
    border-radius: 5px;
    border: 1px solid var(--grey);
    color: var(--white);
    padding: 5px;
}

input[type=number] {
    cursor: pointer;
}

.button {
    border: none;
    background: var(--gold);
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    width: 160px;
    height: 40px;
    color: var(--white);
}

.button:hover {
    background: var(--light-grey);
}

.button_icon {
    background-color: transparent;
    transition: .3s ease-in-out;
    cursor: pointer;
    border: none;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 28px;
    width: 28px;
}

.button_icon:hover {
    background-color: transparent;
    transform: scale(120%);
}

.button_control {
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    border: 1px solid var(--grey);
    color: var(--white);
    font-size: 14px;
    cursor: pointer;
    height: 28px;
    width: 28px;
    padding-bottom: 12px;
    border-radius: 5px;
}

.title-bar {
    width: 100%;
    height: 35px;
    color: var(--gold);
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
    position: sticky;
    top: 0;
    background: var(--black);
    z-index: 1;
    box-shadow: var(--shadow);
}

.title-bar__title {
    margin-left: 5px;
    font-family: Caveat, serif;
    font-size: 18px;
}

.nickname-block {
    display: flex;
    min-width: 300px;
    max-width: 80%;
    align-items: center;
}

.nickname-block__nickname {
    display: flex;
    gap: 5px;
    align-items: center;
}

#window-controls {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 90px;
    padding: 0 5px;
}

.loader {
    border: 8px solid var(--loader-border);
    border-top: 8px solid var(--loader-top);
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 1s linear infinite;
    margin: 20px auto;
    display: none;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.character-list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    flex-direction: column;
    width: 100%;
    -webkit-app-region: no-drag; /* Исключает кнопки из области перетаскивания */
}

.character {
    border-radius: 10px;
    background-color: var(--dark-grey);
    border: 1px solid var(--grey);
    color: var(--white);
    transition: .2s ease;
    cursor: pointer;
    padding: 16px;
    max-width: -webkit-fill-available;
    box-shadow: var(--shadow);
}

.character.view-mode {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    margin-bottom: 10px;
    width: 100%;
    text-align: center;
    font-size: 13px;
}

.character_support.view-mode .character__info div:last-child {
    color: var(--support);
    font-family: Caveat, serif;
    font-size: 16px;
}

.character_dd.view-mode .character__info div:last-child {
    color: var(--dd);
    font-family: Caveat, serif;
    font-size: 16px;
}

.character:hover {
    background-color: var(--grey);
}

@media screen and (min-width: 981px) {
    .character__cell:not(:last-child) {
        border-right: 2px solid var(--grey);
    }

    .character:hover .character__cell:not(:last-child) {
        border-right: 2px solid var(--dark-grey);
    }

    .character:hover .character__cell:not(:last-child) .raid {
        border-right: 1px solid var(--dark-grey);
    }
}

.character__cell {
    display: flex;
    min-width: 20px;
    padding: 0 10px;
}

.character__drag {
    width: 20px;
    padding-right: 0;
    height: 60px;
    align-items: center;
}

.drag-burger {
    height: 100%;
    display: flex;
    align-items: center;
    cursor: grab;
}

.character__icons,
.character__info {
    flex-direction: column;
}

.character__info {
    width: 140px;
    gap: 5px;
}

.character__raids {
    gap: 10px;
    width: -webkit-fill-available;
}

.raid {
    width: max-content;
    border-right: 1px solid var(--grey);
}

.raid__header {
    min-width: 80px;
    width: max-content;
    font-size: 13px;
    display: flex;
    align-items: center;
}

.raid-status {
    width: 100%;
    text-align: center;
}

.character__info div:nth-child(2) {
    color: var(--gs);
}

.inactive {
    filter: grayscale(1);
}

.save-button {
    margin-top: 20px;
    margin-left: auto;
}

#refresh-characters {
    margin-right: 5px;
}

.controls {
    display: flex;
    justify-content: space-between;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    padding-top: 20px;
}

.raid-selector {
    border-radius: 5px;
    width: 300px;
    height: 350px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: var(--black);
    color: var(--white);
    padding: 20px;
    margin: auto;
}

.raid-selector__label {
    font-size: 12px;
}

.raid-selector__label i {
    font-style: normal;
    font-family: Caveat, serif;
    color: var(--gold);
    font-size: 16px;
}

.raid-selector__select {
    height: 200px;
    margin-top: 10px;
}

.tabs {
    display: flex;
    margin-bottom: 10px;
}

.tab-button {
    padding: 10px;
    cursor: pointer;
    border: 1px solid var(--black);
    background: var(--grey);
    flex: 1;
    text-align: center;
    color: var(--white);
    border-radius: 5px;
    transition: .2s ease;
    font-size: 18px;
    box-shadow: var(--inner-shadow);
}

.tab-button.active {
    background: var(--gold);
}

.tab-button:hover {
    background: var(--light-grey);
}

.tab-content {
    display: none;
}

.tab-content.active {
    display: block;
}

.character-table {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    -webkit-app-region: no-drag;
}

.character-table__row {
    display: flex;
    align-items: center;
    width: fit-content;
    border-bottom: 1px solid var(--grey);
    border-left: 1px solid var(--grey);
    border-right: 1px solid var(--grey);
    margin: auto;
    box-shadow: var(--shadow);
}

.character-table__row:first-child {
    border-top: 1px solid var(--grey);
    border-radius: 3px 3px 0 0;
}

.character-table__row:nth-child(even) .character-table__cell {
    background-color: var(--middle-grey);
}

.character-table__cell {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80px;
    padding: 8px;
    height: 60px;
}

.character-table__cell:last-child {
    border-right: 1px solid var(--grey);
}

.character-table__cell:not(:last-child) {
    border-right: 1px solid var(--grey);
}

.character-table__cell_name {
    width: 240px;
    flex: none;
}

.character-table__input {
    width: 50px;
    margin-bottom: 5px;
}

.character-table__input::-webkit-outer-spin-button,
.character-table__input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.character-table__controls {
    display: flex;
    gap: 5px;
}

.character-table_support {
    color: var(--support);
}

.character-table_dd {
    color: var(--dd);
}

.settings-table {
    display: grid;
    border: 1px solid var(--grey);
    border-bottom: none;
    padding: 10px;
    border-radius: 5px 5px 0 0;
    margin-bottom: 10px;
    grid-template-areas: "a b";
    box-shadow: var(--shadow);
}

.settings-table__cell {
    padding: 0 10px;
    height: 80px;
    border-bottom: 1px solid var(--grey);
    display: flex;
    align-items: center;
}

.settings-table__cell:nth-child(odd) {
    border-right: 1px solid var(--grey);
}

.settings-table__cell select {
    height: 60px;
}

.choose-folder-input {
    margin-right: 10px;
    width: 240px;
    height: 30px;
}

.tooltip {
    position: relative;
    cursor: pointer;
}

.tooltip::after {
    content: attr(data-tooltip); /* Берем текст из data-tooltip */
    position: absolute;
    bottom: 120%; /* Поднимаем выше элемента */
    left: 50%;
    transform: translateX(-50%);
    background: var(--black);
    color: var(--white);
    padding: 5px 8px;
    border-radius: 5px;
    font-size: 12px;
    white-space: wrap;
    opacity: 0;
    transition: opacity 0.5s;
    pointer-events: none; /* Чтоб не мешал клику */
    z-index: 1;
}

.tooltip:hover::after {
    opacity: 1;
}

.check-list-table{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 20px 0;
}

.check-list-table__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--grey);
    padding: 8px 12px;
    border-radius: 5px;
}

.check-list-table__item input[type="checkbox"] {
    margin-right: 10px;
}

.check-list-table__item-text {
    flex-grow: 1;
    margin: 0 10px;
}

.check-list-table__item-delete {
    background: none;
    border: none;
    color: var(--error);
    font-size: 18px;
    cursor: pointer;
}

.popup {
    border-radius: 5px;
    width: 300px;
    height: 350px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: var(--black);
    color: var(--white);
    padding: 20px;
    margin: auto;
}

::-webkit-scrollbar {
    width: 8px; /* Ширина вертикального скролла */
    height: 8px; /* Высота горизонтального скролла */
    cursor: move;
}

/* Полоса прокрутки (фон) */
::-webkit-scrollbar-track {
    background: var(--black); /* Тёмный фон */
    border-radius: 10px;
}

/* Ползунок скролла */
::-webkit-scrollbar-thumb {
    background: var(--grey);
    border-radius: 10px;
}

/* При наведении на ползунок */
::-webkit-scrollbar-thumb:hover {
    background: var(--light-grey);
}

@media screen and (max-width: 980px) {
    .character-list {
        display: grid;
        grid-template-areas: "a b c";
    }

    .character.view-mode {
        display: grid;
        grid-template-areas: "grab icons info"
                             "raid1 raid2 raid3"
                             "plus plus plus ";
        gap: 0;
        margin-bottom: 0;
    }

    .character__raids {
        display: grid;
        grid-template-areas: "a b";
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
        grid-column: 1 / -1;
        gap: 0;
        border-top: 1px solid var(--grey);
        border-bottom: 1px solid var(--grey);
        padding: 0;
    }

    .raid__header {
        min-width: initial;
        width: auto;
    }

    .character__drag {
        border-left: 1px solid var(--grey);
        justify-content: center;
        width: -webkit-fill-available;
        padding: 0 5px;
    }

    .character__info {
        border-right: 1px solid var(--grey);
        grid-area: info;
    }

    .character__icons {
        flex-wrap: wrap;
        height: -webkit-fill-available;
        border-right: 1px solid var(--grey);
        border-left: 1px solid var(--grey);
        grid-area: icons;
    }

    .character__actions {
        grid-area: plus;
    }

    .add-raid {
        border-radius: 0;
        width: -webkit-fill-available;
        grid-column: 1 / -1;
        justify-content: center;
    }

    .raid {
        width: 100%;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
        border-right: 1px solid var(--grey);
        border-bottom: 1px solid var(--grey);
    }

    .raid:nth-child(odd) {
        border-left: 1px solid var(--grey);
    }

    .character:hover .character__info,
    .character:hover .character__icons,
    .character:hover .raid {
        border-right: 1px solid var(--dark-grey);
    }

    .character:hover .character__drag,
    .character:hover .raid:nth-child(odd),
    .character:hover .character__icons {
        border-left: 1px solid var(--dark-grey);
    }

    .character:hover .character__raids {
        border-top: 1px solid var(--dark-grey);
    }

    .character:hover .raid,
    .character:hover .character__raids {
        border-bottom: 1px solid var(--dark-grey);
    }
}

@media screen and (max-width: 750px) {
    .character-list {
        grid-template-areas: "a b";
    }

    .character__raids {
        grid-template-areas: "a b";
    }
}

@media screen and (max-width: 530px) {
    .character-list {
        grid-template-areas: "a";
    }
}