
.popup {
  border-radius: 5px;
  width: 300px;
  height: 150px;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: var(--black);
  color: var(--white);
  padding: 20px;
  margin: auto;
  border: 1px solid var(--grey);
  z-index: 1;
  box-shadow: var(--shadow);
}

.popup::after {
  background: var(--black);
  opacity: 0.6;
  position: fixed;
  content: "";
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.popup__content {
  position: relative;
  flex-direction: column;
  align-items: stretch;
  display: flex;
  gap: 15px;
  z-index: 2;
}

.popup__input {
  width: 100%;
  margin-top: 15px;
}

.cross {
  position: absolute;
  top: -15px;
  right: -15px;
  cursor: pointer;
}
