.tools-container {
  display: flex;
  gap: 20px;
}

.tools-container__sidebar {
  box-shadow: var(--shadow);
  border: 1px solid var(--grey);
  padding: 10px;
  border-radius: 5px;
  flex: 15%;
  font-size: 14px;
  height: -webkit-fill-available;
}

.tools-container__anchor-menu-title {
  font-size: 18px;
  font-family: Caveat, serif;
  color: var(--gold);
  margin-bottom: 25px;
}

.tools-container__anchor-item {
  margin-bottom: 15px;
}

.tools-container__item {
  border: 1px solid var(--grey);
  box-shadow: var(--shadow);
  padding: 10px;
  border-radius: 5px;
  gap: 10px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: auto;
}

.calc-cubes__inputs {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.calc-cubes__input {
  flex: 33%;
}

.tools-container__item-name {
  margin: 0 auto 10px auto;
  text-align: center;
  font-size: 22px;
  font-family: Caveat, serif;
  color: var(--light-grey);
}

.tools-container__item-text {
  font-size: 14px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.tools-container__item-label {
  display: flex;
  flex-direction: column;
  font-size: 12px;
}

.tools-container__item-input {
  max-width: 250px;
  margin-bottom: 10px;
  margin-top: 5px;
}

.tools-container__item-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tools-container__item-message {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 14px;
}

.calc-cards__example {
  font-size: 12px;
  color: var(--gold);
}

.calc-cards__list {
  width: 100%;
  gap: 20px;
  display: flex;
  flex-wrap: wrap;
}

.calc-cards__item {
  flex: 25%;
}

.calc-cards__select {
  height: 40px;
  margin-top: 5px;
  margin-right: 0;
}

.calc-cards__card-progress-container {
  margin: 4px 0 12px;
  height: 14px;
  width: 100%;
  background-color: var(--middle-grey);
  border-radius: 5px;
  overflow: hidden;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.4);
}

.calc-cards__card-progress-bar {
  height: 100%;
  background-color: var(--gold);
  transition: width 0.3s ease;
  border-radius: 5px;
}